# 20. DataBase

__Q.What is SQL__

    * SQL (Structure Query Language) is a programming language used to interact with DataBase.

__SQL APPLICATIONS:__

    * __CRUD__ is an operations for CREATE, READ(SELECT), UPDATE and DELETE Statement in SQL.

 __1.RELATIONAL DATABASE__          
 * Data stored in Tables.           
 * These databases have fixed or static or predefined schema.
 * Low performance with huge volume of data.
 * Ex:- Postgres, MySQL,MS-SQL Server
 
 
 
 __2.NON-RELATIONAL DATABASE__
 * Data stored in either key-value pairs, documents-based,graph database or wide column sote.
 * They have dynamic schemas.
 * Easily work with huge amount of data.
 * MongoDB, Cassandra,HBase.

# SQL commands:


 * There are mainly 3 types of SQL commands
     1. __DDL__(Data Definition Language) : Create,Alter and Drop
     2. __DML__(Data Manipulation Langauge) : Select, Insert, Update and Delete.
     3. __DCL__(Data Control Language) : Grand and Revoke Permission to users.

__Q.What is DataBase?__

  * __DataBase__ is a system that allow users to store and organise data.
  
  
  __1.Excel__
  * 1. Easy to use untrained person can work.
  * 2. Data stored less data.
  * 3. Good for one-time analysis, Quick charts.
  * 4. No data integrity due to manual operations.
  * 5. Low search/ Filter capability.
  
 __2.DataBase__
  * 1. Trained person can Work.
  * 2. Stores large amount of data.
  * 3. Can automate tasks.
  * 4. High data integrity.
  * 5. High search/ Filter capability.

# SQL DataBase

 * 1. Tera Data.
 * 2. Microsoft SQL Server
 * 3. SQL
 * 4. Amazon RDS
 * 5. Oracle DataBase
 * 6. MySQL
 * 7. Snow Flake
 * 8. Postgres
 * 9. Sap S/4 Hana etc . These are some Query.

# Q. What are the type of DataBase?

  * DataBase type of a column defines what the value the column can store in the table.
  * Defined while creating tables in databases.
  * Data type mainly classified into three Categories are used.
  * 1. __String__ : char,varchar, etc.
  * 2. __Numeric__ : int,float,bool etc.
  * 3. __Date and time__ : data, datetime etc.
  
__NOTE__
 
 * __char__ : Fixed length string that can contains numbers, letter and special character.
 * __varchar__ : Variable length string that can contains number, letters, special characters.
 * __int__ : Integer is used for the integer value.
 * __float__ : Float is used to specify a decimal point number.
 * __bool__ : Bool is used to specify Boolean values that is "TRUE" or "FALSE".
 * __date__ : Date is used to display format YYYY-MM-DD.
 * __datetime__ : Date and Time is used to display date & time combinations format is YYYY-MM-DD and HH:MM:SS.

# Primary And Foreign Key:


 __Primary Keys(PK)__:-
 
  * A Primary key is a unique column we set in a table to easily identify and locate data in queries.
  * A table have only one primary key, which shuld be unique and NOT NULL values.
  
  
 __Foreign Keys(FK)__:-
 
  * A Foreign key is a column used to link two or more table together.
  * A table can have any number of foreign keys, can contains duplicate and NOT NULL values.

# Constraints (Rule)

__RULE__:
 
 * Constraints are used to specify rule for data in a table.
 * This ensures the accuracy and realiablity of the data in the table.
 * Constrains can specify when the table is created with CREATE TABLE statement, or and after the table is created with ALTER TABlE statement.
 
__Syntax__

        CREATE TABLE table_name(
                Column1 datatype constraints,
                Column2 datatype constraints,
                Column3 datatype constraints
        
        
        );

# Commonly used Constrains in SQL:


 * __NOT NULL__: Ensure that a column can not have a NULL value.
 * __UNIQUE__ : Ensure that all values in a column are different.
 * __PRIMARY KEY__ : A combination of a NOT NULL and UNIQUE.
 * __FOREIGN KEY__ : Prevents action that would destroy links between tables (used to link multiple tables together).
 * __CHECK__ : Ensure that the values in a column satisfies a specific condition.
 * __DEFAULT__ : Sets a default values for a column if no value is specified.
 * __CREATE INDEX__ : Used to create and retrieve data form database very quickly.

# 2. Basic SQL Syntax


* Let's look at the fundamental __SQL Commands:__ SELECT, FROM, WHERE, GROUPBY, HAVING, and ORDER BY.

# 2.1 SELECT and FROM


 * The __SELECT__ statement is used to select data from a databse, and the __FROM__ statement specifies which table to get the data from.
 
 
 __Query syntax__
 
 __SELECT__ FirstName,LastName
 
 __FROM__ Employees;
 
 
 * This query retrieves all first and last names from the __Employees__ table.
 * If you want to select all columns, use * symbol:
 
 
 __SELECT * FROM__ Empoloyees;

# 2.2 WHERE


 * The __WHERE__ clause is used to filter records:
 
 __Query Syntax__
 
 __SELECT *__
 
 __FROM__ "Employees"
 
 __WHERE Position__ = 'Analyst'; 
 
 
 * This query retrieves all data from employees who are analysts.

# GROUPBY and HAVING

 * __GROUP BY__ groups rows that have the same values in specified columns into aggregated data. __HAVING__ is used instead of __WHERE__ with aggregated data.
 
 
 
 __Query Syntax__
 
 __SELECT "Position", COUNT(*)__
 
 FROM "Employees"
 
 GROUP BY "Position"
 
 HAVING COUNT(*) >1;
 
 
 * This query shows postions held by more than one employee.

# SELECT and FROM

__/* The Select statement is used to SELECT data from a database, and the FROM statement specifies which table to get the data from.*/__


__SELECT "FirstName","LastName"__

__FROM Person;__


__NOTE: This query retrieves all the first and last names from the Person table. If you  want ot select all columns, use the * symbol:__

# WHERE

 __The WHERE clause is used to filter the records;__
 
 
__SELECT * FROM Person__
__WHERE "Position"="Python Developer ;"


__NOTE: This query retrieves all data for person who are Python Developer.__

# GROUP BY and HAVING 


__GROUP BY groups rows that have the same values in specified column into aggregated data. HAVING is used instead of WHERE with aggregated data.__


__SELECT "Position", COUNT(*)__

__FROM Person__

__GROUP BY 'Position'__

__HAVING COUNT(*)>1;__

__NOTE:- This query shows positions held by more than one employee.__

# ORDER BY

 __ORDER BY is used to sort the data in ascending or descending order:__
 
 __syntax__
 
 __SELECT * FROM person__
 
 __ORDER BY "lastname" ASC;__

#  Querying Data

 __The SELECT statement is not just for selecting simple rows. We Can use it to perform calculation, concatenations, and more.
 
 
 __Syntax__
 
 __SELECT "Firstname" || ' ' || "Lastname" as "FullName", "Position"__
 
 __FROM person;__
 
 
 __"Note":- This query concatenates the first name and last name, spearated by a space and displays it as FullName.__

# Filtering and Sorting Data

 __Apart from WHERE and ORDER BY, SQL offers BETWEEN, LIKE, and IN to a filter data.__

# BETWEEN

 __BETWEEN is used to filter by a range:__
 
 __syntax:__
 
 __SELECT * FROM "EmployeeID"__
 
 __WHERE "EmployeeID" BETWEEN '5' AND '10' ;__

# LIKE and ILIKE

 __LIKE is used in a WHERE clause to search for a specified pattern in a column. The "%" sign is used to define wildcards (missing letters) both before and after the pattern. Also, note that LIKE is case sensitive. ILIKE can be used for Case-insensitive search.__
 
 
 __Syntax__
 
 __SELECT * FROM Person__
 
 __WHERE "FirstName LIKE 'J%';__

# IN

 __IN allow you to specify multiple values in a Where Clause__
 
 
 __Syntax of IN__
 
 
 __SELECT * FROM person__
 
 __WHERE "position" IN('Analysts','Engineer')__
 
 
 __This query selects all analysts and engineer.__

# Joining Tables.


 __JOIN statements are used to combine rows from two or more tables based on a related column. The different types of joins include INNER JOIN, LEFT (OUTER) JOIN, and FULL JOIN.__
 
 
 __Syntax of INNER JOIN.__
 
 * __SELECT Employee.LastName, Employees.FirstName, Departements.DepartmentName__
 * __FROM Employees__
 * __INNER JOIN Departments ON Employee.DepartmentID=Departments.DepartmentID;__
 
 __NOTE:- THIS QUERY RETRIEVES THE LIST OF EMPLOYEEES ALONG WITH THEIR RESPECTIVE DEPARTMENT NAMES.__
 
 
 __Syntax of LEFT (OUTER) JOIN.__
 
 * __SELECT Employee.LastName, Employee.FirstName, Departments.DepartmentName__
 * __FROM Employees__
 * __LEFT JOIN Departments ON Employees.DepartmentID=Departments.DepartmentID;__
 
 __NOTES:- THIS QUERY RETRIEVES EMPLOYEES AND THEIR DEPARTMENTS, INCLUDING EMPLOYEES WITH NO DEPARTMENT (THE DEPARTMENTNAME FOR THEM WILL BE NULL)__
 
 __Syntax of RIGHT(OUTER) JOIN.__
 
 * __SELECT Employee.LastName, Employee.FirstName, Departments.DepartmentName__
 * __FROM Employees__
 * __RIGHT JOIN Departments ON Employees.DepartmentID=Departments.DepartmentID;__
 
 __NOTES:- THIS QUERY RETRIEVES ALL DEPARTMENTS AND THEIR EMPLOYEES, INCLUDING DEPARTMENTS WITH NO EMPOLOYEES.__
 
 
 __Syntax of FULL(OUTER)JOIN.__
 
 * __SELECT Employee.LastName, Employee.FirstName, Departments.DepartmentName__
 * __FROM Employees__
 * __FULL JOIN Departments ON Employees.DepartmentID=Departments.DepartmentID;__
 
 __NOTES:- THIS QUERY RETRIEVES ALL COMBINATIONS OF EMPLOYEES AND DEPARTMENTS, INCLUDING EMPLOYEES WITH NO DEPARTMENT AND DEPARTMENTS WITH NO EMPLOYEES.__

#  Modifying Database Information

 __SQL allows you to insert, update, and delete data with INSERT, UPDATE and DELETE commands respectively. Be careful when using these commands as you can change your data permanently.__
 
 
 * __1. INSERT__
 
 * __INSERT INTO person (EmployeeID, FirstName, LastName, Position)__
 * __VALUES (4,'Mark','Anderson','Analyst');__
 
 
 * __2. UPDATE__
 * __UPDATE person__
 * __SET "Position"='Senior Developer'__
 * __WHERE "EmployeeID"=4;__
 
 * __3. DELETE__
 * __DELETE FROM person__
 * __WHERE "EmployeeID"=6;__

# Advanced SQL Techniques

 __Let's solve into more complex technique with the help of examples.__
 
# Handling NULL values.

 __Null value in SQL means no or zero value. Here's how you can use IS NULL and IS NOT NULL:__
 
 * __SELECT *__
 * __FROM Person__
 * __WHERE "Position" IS NULL;__
 
 __This query selects all persons who don't belong to any department.__
 
 
 * __SELECT *__
 * __FROM Person__
 * __WHERE "Position" IS NOT NULL;__
 
 __This query selects all persons who belongs to a position.__

# String Functions

 __SQL offers several functions to manipulates strings, some examples includes:__
 
  * __CONCAT():- Concatenates two or more strins.__
  * __TRIM():- Removes leading and trailing spaces of a string.__
  * __LENGTH():- Returns the length of a string.__
  
  
  __SELECET CONCAT ("FirstName," ","LastName") as "FullName", TRIM("Position"),
  __LENGTH ("FirstName") as NameLength__
  __FROM person;__