# 3. Lists

   * Lists are ordered.
   * Lists can contain any arbitrary objects.
   * Lists elements can be accessed by index.
   * Lists can be nested to arbitrary depth.
   * Lists are mutable.
   * Lists are dynamic.

In [2]:
# Creating a list

x = ['Python',25,2023]

print(x)
print(type(x))

['Python', 25, 2023]
<class 'list'>

In [9]:
print('Positive index: ',x[0],',','Negative index: ',x[-3])
print('Positive index: ',x[1],',','Negative index: ',x[-2])
print('Positive index: ',x[2],',','Negative index: ',x[-1])

Positive index:  Python , Negative index:  Python
Positive index:  25 , Negative index:  25
Positive index:  2023 , Negative index:  2023

# What can content a list?

   * Strings
   * Floats
   * Integer
   * Boolean
   * Nested List
   * Nested Tuples
   * Other Data structure

In [10]:
nlis=['Python', 3.14, 2023,True, False, [1,2,3,4,5,6,7,8,9],('hello python',3.14,2023)]

nlis

['Python',
 3.14,
 2023,
 True,
 False,
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 ('hello python', 3.14, 2023)]

# List operations

In [11]:
# length of the list

len(nlis)

7

In [16]:
# Slicing of a list.

print(nlis[3:4])
print(nlis[0:5])
print(nlis[5:6])
print(nlis[-1])
print(nlis[6:7])

[True]
['Python', 3.14, 2023, True, False]
[[1, 2, 3, 4, 5, 6, 7, 8, 9]]
('hello python', 3.14, 2023)
[('hello python', 3.14, 2023)]

In [23]:
nlis=['Python', 3.14, 2023,True, False, [1,2,3,4,5,6,7,8,9],('hello python',3.14,2023)]



print(nlis[5][4])
print(nlis[5][7])
print(nlis[6][0])
print(nlis[6][2])

5
8
hello python
2023

# Extending the list

    * We use the extend() function to add a new element to the list.
    * With this function we add more than one element to the list.

In [25]:
nlis=['Python', 3.14, 2023,True, False, [1,2,3,4,5,6,7,8,9],('hello python',3.14,2023)]

nlis.extend(['hello World',1.618])
print(nlis)

['Python', 3.14, 2023, True, False, [1, 2, 3, 4, 5, 6, 7, 8, 9], ('hello python', 3.14, 2023), 'hello World', 1.618]

# append() method

   * as different from the extend() method, with the append() method, we add only one element to the list.
   * you can see the difference by comparing the above and below codes.

In [28]:
nlis=['Python', 3.14, 2023,True, False, [1,2,3,4,5,6,7,8,9],('hello python',3.14,2023)]

nlis.append(['Hello World!',1.618])
nlis.append(['Amey Lonkar'])
nlis

['Python',
 3.14,
 2023,
 True,
 False,
 [1, 2, 3, 4, 5, 6, 7, 8, 9],
 ('hello python', 3.14, 2023),
 ['Hello World!', 1.618],
 ['Amey Lonkar']]

In [3]:
# append method
y=[10,20,30]

y.append([40])
print(y)

[10, 20, 30, [40]]

In [5]:
# extend method

y.extend([40])
print(y)

[10, 20, 30, [40], 40, 40]

In [6]:
# insert method

y.insert(2,60)
print(y)

[10, 20, 60, 30, [40], 40, 40]

In [8]:
# count method

z=[10,20,30,40,20,20]

z.count(20)

3

In [10]:
# Clear method
z=[20,30]

z.clear()
z

[]

In [13]:
# index method
print(y)
y.index(40)

[10, 20, 60, 30, [40], 40, 40]

5

In [18]:
# pop method

print(y)

y.pop(6)

print(y)

[10, 20, 30, [40], 40]

IndexError: pop index out of range

In [16]:
y.pop(2)
print(y)

[10, 20, 30, [40], 40]

In [19]:
# reverse method
t=[30,20,10]

t.reverse()
print(t)

[10, 20, 30]

In [33]:
# reverse the string method
u='Amey Lonkar'
print(u)
print(u[::-1])

Amey Lonkar
raknoL yemA

In [39]:
# sort method ascending order.
i=[30,40,10,20,80,60]
i.sort()
print(i)

[10, 20, 30, 40, 60, 80]

In [41]:
# max number of list.
max(i)

80

In [42]:
# minimum number of list.

min(i)

10

In [43]:
# sum of the list.
sum(i)

240

# Changing the element of a list since it is mutable.

In [46]:
nlis=['Python',3.14,2023,[1,2,3,4,5,6,81,20],('Hello World',3,14,2023)]

print('Before changing:',nlis)
nlis[0]='Amey Lonkar'
print('After Changing:',nlis)

Before changing: ['Python', 3.14, 2023, [1, 2, 3, 4, 5, 6, 81, 20], ('Hello World', 3, 14, 2023)]
After Changing: ['Amey Lonkar', 3.14, 2023, [1, 2, 3, 4, 5, 6, 81, 20], ('Hello World', 3, 14, 2023)]

In [51]:

print('Before Changing:',nlis)
nlis[3][6]=90
print('After Changing:',nlis)

Before Changing: ['Amey Lonkar', 3.14, 2023, [1, 2, 3, 4, 5, 6, 81, 20], ('Hello World', 3, 14, 2023)]
After Changing: ['Amey Lonkar', 3.14, 2023, [1, 2, 3, 4, 5, 6, 90, 20], ('Hello World', 3, 14, 2023)]

In [53]:
# tuple does not support item assignment
nlis[4][0]='Amey Lonkar'
print(nlis)

TypeError: 'tuple' object does not support item assignment

# Changing of a string into a list using split() function.

In [54]:
message='Python is a programming language.'

message.split()

['Python', 'is', 'a', 'programming', 'language.']

# Use of split() function with a delimeter.

In [55]:
text='p,y,t,h,o,n'

text.split(",")

['p', 'y', 't', 'h', 'o', 'n']

# Basic Operations

In [59]:
nlis_1=['a','b','Hello','Python']

nlis_2=[1,2,3,4,5,6]
print(len(nlis_1))
print(len(nlis_2))
print(nlis_1+nlis_2)

print(nlis_1*3)

4
6
['a', 'b', 'Hello', 'Python', 1, 2, 3, 4, 5, 6]
['a', 'b', 'Hello', 'Python', 'a', 'b', 'Hello', 'Python', 'a', 'b', 'Hello', 'Python']

# Concatenate the list

In [60]:
a_list=['a','b',['c','d'],'e']
b_list=[1,2,3,4,5,(6,7),True,False]

new_list=a_list+b_list
print(new_list)

['a', 'b', ['c', 'd'], 'e', 1, 2, 3, 4, 5, (6, 7), True, False]

# As different from the list, I also siginificant the following information.

# input function

 * input() function in Python provides a user of a program supply inputs to the program at runtime.

In [61]:
text=input('Enter a string.')
print('The text is: ',text)

print(type(text))

Enter a string.Amey Lonkar
The text is:  Amey Lonkar
<class 'str'>

In [62]:
# Although the function wants an integer, the type of the entered number is a string.
text=input('Enter a string.')
print('The text is: ',text)

print(type(text))

Enter a string.15
The text is:  15
<class 'str'>

In [63]:
text=int(input('Enter a string.'))
print('The text is: ',text)

print(type(text))

Enter a string.15
The text is:  15
<class 'int'>

In [65]:
text=float(input('Enter a string.'))
print('The text is: ',text)

print(type(text))

Enter a string.78.3
The text is:  78.3
<class 'float'>

In [66]:
print('20+30')

20+30

# eval() functions

 * This function serves the aim of converting a string to an integer or a float.

In [68]:
expression='80+10'
total=eval(expression)
print('Sum of the expression:',total)

print(type(expression))
print(type(total))

Sum of the expression: 90
<class 'str'>
<class 'int'>

# format() function

 * This function helps to format the output printed on the screen with good look and attractive.

In [70]:
a=float(input('Enter any number:'))
b=float(input('Enter second number:'))

total=a+b
print('Sum of {} and {} is {}.'.format(a,b,total))

Enter any number:8
Enter second number:7
Sum of 8.0 and 7.0 is 15.0.

# Comparison operators

 * The operators such as <,>,<=,>=,== and != compare the certain two operands and return True of False

In [76]:
a=3.14
b=1.618

print('a>b is:',a>b)
print('a<b is:',a<b)
print('a<=b is:',a<=b)
print('a>=b is:',a>=b)
print('a==b is:',a==b)
print('a!=b is:', a!=b)

a>b is: True
a<b is: False
a<=b is: False
a>=b is: True
a==b is: False
a!=b is: True

# Logical Operators

 * The operators including and, or, not are utilized to bring two conditions together and access them. The output returns True or False

In [6]:
a = 3.14
b= 1.618
c=12
d=3.14

print (a>b and c>a)
print(b>c and d>a)
print(b<c and d>a)
print(b<c or d>a)
print(not a==b)
print(not a==d)

True
False
False
True
True
False

# Assignment operators

    * The operators including =,+=,-=,/=,%=,//=,*=,&=,^=,>>= and <<= are employed to evalueate a value to a variable.

In [7]:
x = 3.14

x+=5

print(x)

8.14

In [8]:
x = 3.14

x-=5

print(x)

-1.8599999999999999

In [9]:
x = 3.14
x*=5
print(x)

15.700000000000001

In [10]:
x=3.14

x/=5
print(x)

0.628

In [11]:
x=3.14

x%=5
print(x)

3.14

In [14]:
x = 102258

x%=5
print(x)

3

In [15]:
x=3.14

x//=5
print(x)

0.0

In [16]:
x=3.14

x**=5
print(x)

305.2447761824001

# Identity operators.

 * The operators is or isnot are employed to control if the operands or objects to the left and right of these operators are referring to a value stored in the same memory location and return True or False.

In [23]:
a = 3.14

b = 1.618

print(a is b)

print(a is not b)
msg1='Hello Python'

msg2='Hello, World!'

print(msg1 is msg2)
print(msg1 is not msg2)

list1=[3.14,1.618]
list2=[3.14,1.618]
print(list1 is list2)
print(list1 is not list2)

False
True
False
True
False
True

# Membership operators

 * These operators including in and not in are employer to check if the certain value is available in the sequence of value and return True of Fasle.

In [34]:
# take a list

nlis=[4,5,6,7,8,'hello',(4,5),{'name':'Python'},{1,2,3},[1,2,3]]

print(5 in nlis)
print(3 in nlis)
print(4 not in nlis)
print((4,5) in nlis)
print(9 not in nlis)
print([1,2,3] in nlis)
print([1,2,3] in nlis)
print({'name':'Python'} in nlis)

True
False
False
True
True
True
True
True