# 4. Tuples in Python

 Tuples are immutable list and cannot be changed in any way once it is created.
 
 
     * Tuples are defined in the same way as list.
     * They are enclosed within parenthesis and not within square braces.
     * Tuples are ordered, indexed collections of data.
     * similar to string indices, the first value in the tuple will have the index[0], the second value [1]
     * Negative indices are counted from the end of the tuple,just like lists.
     * Tuple also has the same structure where commas separate the values.
     * Tuples can store duplicate value.
     * Tuples allow you to store several data items including string, integer, float in one variable.

In [3]:
# take a tuple

tuple_1=('Hello','Python',3.14,1.618,True, False,32,[1,2,3],{1,2,3},{'A':'3','B':'8'},(0,1))
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': '3', 'B': '8'},
 (0, 1))

In [2]:
print(type(tuple_1))

<class 'tuple'>

In [14]:
print(type(tuple_1[0]))
print(type(tuple_1[1]))
print(type(tuple_1[2]))
print(type(tuple_1[3]))
print(type(tuple_1[4]))
print(type(tuple_1[5]))
print(type(tuple_1[6]))
print(type(tuple_1[7]))
print(type(tuple_1[8]))
print(type(tuple_1[9]))
print(type(tuple_1[10]))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>

# Concatenation of tuples

 To concatenate, + sign is used

In [15]:
tuple_2=tuple_1+('Hello World',2023)

print(tuple_2)

('Hello', 'Python', 3.14, 1.618, True, False, 32, [1, 2, 3], {1, 2, 3}, {'A': '3', 'B': '8'}, (0, 1), 'Hello World', 2023)

# Repetition of a tuple

In [16]:
rep_tup=(1,2,3,4,5)

rep_tup*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [20]:
print(2 in rep_tup)
print(2 not in rep_tup)
print(8 in rep_tup)
print(8 not in rep_tup)

True
False
False
True

# Membership

In [4]:
rep_tup=(1,2,3,4)
print(2 in rep_tup)
print(2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

True
False
False
True

# Iteration

In [5]:
rep_tup=(1,2,3,4)

for i in rep_tup:
    print(i)

1
2
3
4

# cmp() function

It is to compare two tuples and returns True or False.

In [9]:
def cmp(t1,t2):
    return bool(t1>t2)-bool(t1<t2)

t1=(1,3,5)
t2=(2,4,6)
cmp(t1,t2)   # Here t1 is lower than t2, since output is -1

-1

# max() function

In [10]:
rep_tup=(1,2,3,4)

print(max(rep_tup))
print(min(rep_tup))

4
1

# tup(seq) function

It converts a specific sequence to a tuple.

In [11]:
seq= 'AmeyLonkar'
tuple(seq)

('A', 'm', 'e', 'y', 'L', 'o', 'n', 'k', 'a', 'r')

# Slicing

To obtain a new tuple from the current tuple, the slicing method is used.

In [13]:
# Obtaining a new tuple from the current tuple, the slicing method is used.

tuple_1=('Hello','Python',3.14,1.618,True, False,32,[1,2,3],{1,2,3},{'A':'3','B':'8'},(0,1))
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': '3', 'B': '8'},
 (0, 1))

In [14]:
tuple_1[5:6]

(False,)

# len() function

 To obtain how many elements there are in the tuple, use len() function.

In [15]:
len(tuple_1)

11

# Sorting tuple

In [17]:
# Tuple can be sorted and save as a new tuple.
tuple_3=(0,9,7,4,6,2,4,3,6,7)
sorted_tuple_3=sorted(tuple_3)
sorted_tuple_3

[0, 2, 3, 4, 4, 6, 6, 7, 7, 9]

# Tuples are immutable

In [21]:
# Take a tuple

tuple_4=(1,3,5,7,8)

tuple_4[0]=9
print(tuple_4)

TypeError: 'tuple' object does not support item assignment

# Delete a tuple

 * An element in a tuple can not be deleted since it is immutable.
 
 * But a Whole tuple can be deleted.

In [22]:
tuple_4=(1,3,5,7,8)

print('Before deleting:',tuple_4)

del(tuple_4)

print('After deleting:',tuple_4)

Before deleting: (1, 3, 5, 7, 8)

NameError: name 'tuple_4' is not defined

# count() method
 * This method returns the number of time an item occurs in a tuple.

In [23]:
tuple_5=(1,1,2,3,3,3,4,5,6,5,8,5,5,5,5,5,8,8,8,8,9,9,9,9)

tuple_5.count(9)

4

In [24]:
tuple_5.count(8)

5

In [25]:
tuple_5.count(5)

7

# index() method

 * It returns the index of the first occurence of the specified value in a tuple.

In [29]:
tuple_5=(1,1,3,3,5,5,5,5,6,6,7,8,9)
print(tuple_5.index(5))
print(tuple_5.index(7))
print(tuple_5.index(9))

4
10
12

# One element tuple

 * If a tuple includes only one element, you should put a comma after the element. Otherwise it is not considered as a tuple.

In [36]:
tuple_6=(0)
print(tuple_6)
print(type(tuple_6))

0
<class 'int'>

In [34]:
tuple_6=(0,)
print(tuple_6)
print(type(tuple_6))

(0,)
<class 'tuple'>