# 5. Sets in Python

 * Set is one of 4 build- in data type in Python used to store collections of data including List, Tuple, and Dictionary.
 * Sets are unordered, but you can remove item and add new items.
 * Set elements are unique. Duplicate elements are not allowed.
 * A set itself may be modified, but the elements contained in the set must be of an immutable type.
 * Sets are used to store mutliple items in a single variable.
 * You can denote a set with a pair of curly brackets {}.

In [1]:
# The empty set of curly braces denotes the empty dictionary, not empty set.

x={}
print(type(x))

<class 'dict'>

In [2]:
# To take a set without elements, use set() function without any items.

y=set()
print(type(y))

<class 'set'>

In [6]:
# Take a set
set1={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False, 2023}
set1

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

# set operations

In [9]:
set2=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False, 2023])
set2

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

# add() function
 To add an element into a set, we use the function add(). If the same element is added to the set, nothing will happen because the set accepted no duplicates.

In [11]:
set3=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False, 2023])
set3.add('Hi, Python')
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', 'Hi, Python', True}

In [12]:
set3.add('Hi, Python')
set3

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', 'Hi, Python', True}

In [13]:
set3.add('Amey Lonkar')
set3

{1.618,
 2023,
 3.14,
 'Amey Lonkar',
 False,
 'Hello Python',
 'Hello World',
 'Hi, Python',
 True}

# update() function
 * To add multiple elements into the set.

In [1]:
x_set={6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function
 * To remove an element from the set.

In [3]:
set3=set(['Hello Python',3.14,1.618,'Hello World',3.14,1.618,True, False, 2023])

set3.remove(False)
set3

{1.618, 2023, 3.14, 'Hello Python', 'Hello World', True}

In [4]:
set3.remove('Hello Python')
set3

{1.618, 2023, 3.14, 'Hello World', True}

# discard() function

 * It leaves the set unchanged if the element to be deleted is not available in the set.

In [8]:
set3.discard('Hello World')
set3

{True, 1.618, 2023}

# Logic operations in Sets

In [10]:
set4=set(['Hello Python',3.14,1.618,])
set5=set(['Hello World',3.14,1.618,True, False, 2023])

#print(set4)
#print(set5)

# Printing two sets at a time

set4,set5

({1.618, 3.14, 'Hello Python'},
 {1.618, 2023, 3.14, False, 'Hello World', True})

# To find insect of two sets using &

In [11]:
intersection=set4&set5
print(intersection)

{1.618, 3.14}

# To find the insect of two set, use intersection() function

In [12]:
set4.intersection(set5)  # The output is same as that of above.

{1.618, 3.14}

# difference() function

 * To find the difference between two sets

In [13]:
print(set4.difference(set5))
print(set5.difference(set4))


# The same process can make using subtraction operator as follow:
print(set4-set5)
print(set5-set4)

{'Hello Python'}
{False, True, 'Hello World', 2023}
{'Hello Python'}
{False, True, 'Hello World', 2023}

# union() function

 * It corresponds to all the elements in both sets.

In [15]:
print(set4.union(set5))
print(set5.union(set4))

{False, 1.618, True, 3.14, 2023, 'Hello Python', 'Hello World'}
{False, 1.618, True, 3.14, 2023, 'Hello Python', 'Hello World'}

# issuperset() and issubset() functions

 * To control if a set is superset or subset of another set

In [29]:
print(set([3.14,1.618]).issubset(set5))
print(set([3.14,1.618]).issubset(set4))
print(set4.issuperset([3.14,1.618]))
print(set5.issuperset([3.14,1.618]))

True
True
True
True

# min(),max() and sum() functions

In [25]:
a=[1,1,2,2,3,3,4,4,5,5]   # Take a list.
b={1,1,2,2,3,3,4,4,5,5}  # Take a set.

print('The miniumum number of a is:',min(a))
print('The minimum number of b is:',min(b))
print('The maximum number of a is:',max(a))
print('The maximum number of b is:',max(b))
print('The sum of a is:',sum(a))
print('The sum of b is:',sum(b))

The miniumum number of a is: 1
The minimum number of b is: 1
The maximum number of a is: 5
The maximum number of b is: 5
The sum of a is: 30
The sum of b is: 15

# No mutable sequence in a set.


 * A set can not have mutable elements such as list or dictonary in it. If any, it returns error as follows:

In [32]:
set6={'Python',1,2,3,[1,2,3]}
set6

TypeError: unhashable type: 'list'

# index() function

 * This function does not work in set since the set is unordered collection.

In [33]:
set7={1,2,3}
set7[1]

TypeError: 'set' object is not subscriptable

# Copy the set

In [37]:
set8={1,2,3,8,5}
print(set8)

set9=set8
print(set9)

set8.add(11)
print(set8)
print(set9)

'''
As you see that although the number 11 is added into the set"set8", the added number is also added
into the "set9"'''

{1, 2, 3, 5, 8}
{1, 2, 3, 5, 8}
{1, 2, 3, 5, 8, 11}
{1, 2, 3, 5, 8, 11}

In [38]:
set8.add(12)
set8

{1, 2, 3, 5, 8, 11, 12}

In [39]:
set9

{1, 2, 3, 5, 8, 11, 12}

# copy() function

 * It returns a shallow copy of the original set.

In [45]:
set8={1,2,3,4,5,6,7,8,9}
print(set8)
set9=set8.copy()
print(set9)

set8.add(18)
print(set8)
print(set9)

""" When this function is used, the original set stays unmodified.
A new copy stored in another set of memory locations is created.
The change made in one copy won't reflect in another."""

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 18}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

" When this function is used, the original set stays unmodified.\nA new copy stored in another set of memory locations is created.\nThe change made in one copy won't reflect in another."

# clear() function

 * It removes all elements in the set and then do the set empty.

In [47]:
x={0,1,1,2,3,4,5,6,6,6,7,8,9}
print(x)
x.clear()
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

# pop() function

 * It removes and returns an arbitrary set elements.

In [51]:
x={0,1,1,2,3,4,5,6,6,6,7,8,9}

print(x)
x.pop()
print(x)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [53]:
x.pop()
x

{2, 3, 4, 5, 6, 7, 8, 9}